<div class="card mt-2">
  <div class="card-header">
    Quản lý người dùng
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-2">
        <button class="btn btn-success" (click)="showHideImage()">{{ hideButtonContent }} image</button>
      </div>
      <div class="col-12 col-md-10">
        <input type="text" (keyup)="searchUser($event)" class="form-control col-md-6">
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="STT">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <img [width]="widthImage" src="{{element.image}} " alt=""></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
